body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F3F4F6;
}

::placeholder {
    color: #666666;
    opacity: 1;
}

.slick-prev:before {
    content: "\ea40";
}
.slick-next:before {
    content: "\ea3c";
}
.slick-prev:before, .slick-next:before {
    font-family: "icomoon"!important;
    font-size: 20px;
    text-transform: none;
    line-height: 1;
    color: #00ADFF;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}